 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="">
        <a class="navbar-brand" [routerLink]="'/main'">ETEREO TI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
    </div>    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right  !important;">
      <ul class="navbar-nav mr-auto" >
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">            
            <li class="nav-item mb-1" id="menu">
                <a class="nav-link" [routerLink]="'/main'"><strong>Inicio</strong></a>
            </li>
            <li class="nav-item mb-1" id="menu">
                <a class="nav-link" [routerLink]="'/aboutus'"><strong>Quienes Somos</strong></a>
            </li>
            <li class="nav-item mb-1" id="menu">
                <a class="nav-link" [routerLink]="'/ourservices'"><strong>Nuestros servicios</strong></a>
            </li>
            <li class="nav-item mb-1" id="menu">
                <a class="nav-link" [routerLink]="'/contactus'"><strong>Contactenos</strong></a>
            </li>
            <li class="nav-item mb-1">
                <a href="#"><img src="assets/img/png/fb-ico.png" class="rounded-lg" id="img-ico-menu"></a>                    
            </li>
            <div id="vr">&nbsp;</div>
            <li class="nav-item mb-1">
                <a href="#"><img src="assets/img/png/inst-ico.png" class="rounded-lg" id="img-ico-menu"></a> 
            </li>
        </ul>  
      </div>
    </div>
  </nav>