<div class="container">
    <div class="col-md-12">
        <br>
        <h2>Nuestros Servicios</h2>
        <br>
        <h3>Páginas Web</h3>
        <hr>
        <img src="assets/img/ourservice_prueba.png" class="rounded float-left ourservicesimg1">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <br>
    <br>
    <div class="col-md-12">
        <img src="assets/img/ourservice_prueba.png" class="rounded float-right ourservicesimg2">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <br>
    <br>
    <h2>Ejemplos</h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/ourservices/web_ventas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Página de ventas</h5>
            <p class="card-text">Creamos la página web ideal para aumentar las ventas de tu negocio.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/img/ourservices/web_corporativa.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pagina corporativa</h5>
            <p class="card-text">Creamos la página web ideal para darte a conocer al publico, potencia la posición de tu empresa en el mercado.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card float-left">
          <img src="assets/img/ourservices/web_personalizada.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pagina personalizada</h5>
            <p class="card-text">Si tienes una idea para tu página web pero no es un concepto muy común, no te preocupes en EtereoTi haremos la página a tu medida y según tus necesidades.</p>
          </div>
        </div>
      </div>      
    </div>
</div>
