<div class="bg-light py-5">
    <div class="container py-5">      
        <div class="my-5 text-center container">
            <div class="row mb-2">
               <div class="col text-center">
                  <h1>Nuestros Servicios</h1>
                  <p class="lead"></p>
               </div>
            </div>
            <div class="row d-flex align-items-center">
                <!--Start boton prev-->
               <div class="col-1 d-flex align-items-center justify-content-center">
                  <a href="#carousel_main" role="button" data-slide="prev">
                     <div class="carousel-nav-icon">
                       <img src="assets/img/svg/flecha_izquierda.svg" id="carousel_icon">
                     </div>
                  </a>
               </div>
               <!--End boton prev-->
               <div class="col-10">
                  <!--Start carousel-->
                  <div id="carousel_main" class="carousel slide" data-ride="carousel">         
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">                              
                              <div class="col-sm-4">
                                <div class="card">
                                  <a href="#" id="texto_cmain">
                                    <div class="card-body">                                    
                                      <div class="row">
                                          <div class="col-sm-4" id="carousel_titulo_icon">
                                            <img src="assets/img/svg/html.svg" id="carousel_icon">
                                          </div>
                                          <div class="col-sm-8" id="carousel_titulo_icon">
                                            <h5 class="card-title">Paginas Web</h5>
                                          </div>                                           
                                      </div>     
                                      <br/> 
                                      <div>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div>                             
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card">
                                  <a href="#" id="texto_cmain">
                                    <div class="card-body">
                                      <div class="row">
                                          <div class="col-sm-4" id="carousel_titulo_icon">
                                            <img src="assets/img/svg/escritorio.svg" id="carousel_icon">
                                          </div>
                                          <div class="col-sm-8" id="carousel_titulo_icon">
                                            <h5 class="card-title">Aplicaciones de escritorio</h5>
                                          </div>                                           
                                      </div>
                                      <div>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div> 
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="card">
                                  <a href="#" id="texto_cmain">
                                    <div class="card-body">
                                      <div class="row">
                                          <div class="col-sm-4" id="carousel_titulo_icon">
                                            <img src="assets/img/svg/movil.svg" id="carousel_icon">
                                          </div>
                                          <div class="col-sm-8" id="carousel_titulo_icon">
                                            <h5 class="card-title">Aplicativos moviles</h5>
                                          </div>                                           
                                      </div>
                                      <div>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                      </div> 
                                    </div>
                                  </a>
                                </div>
                              </div>
                           </div>
                        </div>     
                        <div class="carousel-item">
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="card">
                                <a href="#" id="texto_cmain">
                                  <div class="card-body">                                    
                                    <div class="row">
                                        <div class="col-sm-4" id="carousel_titulo_icon">
                                          <img src="assets/img/svg/html.svg" id="carousel_icon">
                                        </div>
                                        <div class="col-sm-8" id="carousel_titulo_icon">
                                          <h5 class="card-title">Paginas Web</h5>
                                        </div>                                           
                                    </div>     
                                    <br/> 
                                    <div>
                                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>                             
                                  </div>
                                </a>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card">
                                <a href="#" id="texto_cmain">
                                  <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4" id="carousel_titulo_icon">
                                          <img src="assets/img/svg/escritorio.svg" id="carousel_icon">
                                        </div>
                                        <div class="col-sm-8" id="carousel_titulo_icon">
                                          <h5 class="card-title">Aplicaciones de escritorio</h5>
                                        </div>                                           
                                    </div>
                                    <div>
                                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div> 
                                  </div>
                                </a>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card">
                                <a href="#" id="texto_cmain">
                                  <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4" id="carousel_titulo_icon">
                                          <img src="assets/img/svg/movil.svg" id="carousel_icon">
                                        </div>
                                        <div class="col-sm-8" id="carousel_titulo_icon">
                                          <h5 class="card-title">Aplicativos moviles</h5>
                                        </div>                                           
                                    </div>
                                    <div>
                                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div> 
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                     </div>
                  </div>
                  <!--End carousel-->
               </div>
               <!--Start boton next-->
               <div class="col-1 d-flex align-items-center justify-content-center">
                   <a href="#carousel_main" data-slide="next">
                    <div class="carousel-nav-icon">
                      <img src="assets/img/svg/flecha_derecha.svg" id="carousel_icon">
                    </div>
                  </a>
               </div>
               <!--End boton next-->
            </div>
        </div>
    </div>
</div>  
<div class="bg-white py-5">
    <div class="container py-5">  
        <div class="row mb-2">
          <div class="col text-center">
            <h1>Beneficios</h1>
            <p class="lead"></p>
          </div>
        </div>      
        <div class="row">
            <div class="col-sm-4">
                <div class="hexagon1">
                    <div id="hx_text">
                      <h5>Ultimas <br/> Tecnologias</h5>                      
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a.</p> 
                    </div>                    
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="hexagon2">
                    <div id="hx_text">
                      <h5>Equipo Altamente <br/> Capacitado</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a.</p> 
                    </div> 
                </div>
            </div>  
            <div class="col-sm-4">
                <div class="hexagon3">  
                    <div id="hx_text">
                      <h5>Producto <br/> de Calidad</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a.</p> 
                    </div>                   
                </div>
            </div>             
        </div>       
    </div>
</div>
<div class="bg-light">
    <div class="container py-5">
      <div class="my-5 text-center container">
        <div class="row mb-2">
           <div class="col text-center">
              <h1>Socios Estrategicos</h1>
              <p class="lead"></p>
           </div>
        </div>
        <div class="row d-flex align-items-center">
            <!--Start boton prev-->
           <div class="col-1 d-flex align-items-center justify-content-center">
              <a href="#carousel_SE" role="button" data-slide="prev">
                 <div class="carousel-nav-icon">
                   <img src="assets/img/svg/flecha_izquierda.svg" id="carousel_icon">
                 </div>
              </a>
           </div>
           <!--End boton prev-->
           <div class="col-10">
              <!--Start carousel-->
              <div id="carousel_SE" class="carousel slide" data-ride="carousel">         
                 <div class="carousel-inner">
                    <div class="carousel-item active">
                       <div class="row"> 
                          <div class="col-sm-12">
                            <div class="card">
                              <div class="card-body">
                                <div>                      
                                  <img src="assets/img/png/Logo_chimpa.png" id="img-ico-menu">                                                                                                                  
                                </div>
                                <br>                                
                                <div class="texto_SE">
                                  <p>With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.</p>
                                </div>                                
                              </div>
                            </div>
                          </div>
                       </div>
                    </div>     
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-body">
                              <div>                      
                                <img src="assets/img/png/Logo_chimpa.png" id="img-ico-menu">                                                                                                                  
                              </div>
                              <br>                                
                              <div class="texto_SE">
                                <p>With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.With supporting text below as a natural lead-in to additional content.</p>
                              </div>                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
              </div>
              <!--End carousel-->
           </div>
           <!--Start boton next-->
           <div class="col-1 d-flex align-items-center justify-content-center">
               <a href="#carousel_SE" data-slide="next">
                <div class="carousel-nav-icon">
                  <img src="assets/img/svg/flecha_derecha.svg" id="carousel_icon">
                </div>
              </a>
           </div>
           <!--End boton next-->
        </div>
      </div>
    </div>
</div>  